@{
    ViewData["Title"] = "Countries List";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<h3>View Data Example</h3>
<ul>
    @foreach(String Country in(List<string>)ViewData["Countries"])
    {
    <li>
        @Country
    </li>
    }
</ul>*@
